<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players Index</title>
    <link rel="stylesheet" href="/app.css" />
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Players Index</a>
        <div class="topnav-right">
          <a href="gilsonscott@johndeere.com">Report Issues</a>
          <a href="https://generalassemb.ly/"target="_blank">Contact Us</a>
          <a href="#search">Search</a>
          <a href="/auth/logoff">Log Off</a>
        </div>
      </div>
      <br>
    <h1>Players Index</h1>
    <!-- <strong><a href="/players/new">Create a new Player</a></strong> -->
    <form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onclick="window.location.href='/players/new';" id='new' value="Create A New Player" />
    </form>
    <ul>
        <% for(let i=0; i<player.length; i++) { %>
        <li>
            <a href="/players/profile/<%=player[i].id%>"> <%=player[i].name%> </a>
            <form action="/players/<%=player[i].id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Player" />

            <form>
                <input type="button" onclick="window.location.href='/players/<%=player[i].id%>/edit';" value="Edit" />
            </form>
            </form>
            <br>

        </li>
        <% } %>
    </ul>

</body>
</html>