<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <h1>New Player page</h1>
        
            <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/player" method="POST">
        <strong>Name:</strong> <input type="text" name="name" />
            <br></br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="" value="Create Pokemon"/>
        </form>
        <br></br>
    </body>
</html>