<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create New Player </title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <div class="topnav">
            <div class="topnav-right">
              <a href="/auth/logoff">Log Off</a>
            </div>
          </div>
          <br>
        <h1>Create A New Player</h1>
        
            <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/players" method="POST">
        <strong>Name:</strong> <input type="text" name="name" />
        <label for="TeamId">Team:</label>
        <select name="teamId">
            <option value="null">--Pick A Team--</option><br>
<% allTeams.forEach(team=>{%>
<option value="<%=team.id%>"><%=team.name%> </option>
    <% })%>
        </select> 
        <br></br>   
        <input type="submit" name="" value="Create Player"/>    
        <input type="button" value="Go back" onclick="history.back()">    
    </form>
        <br></br>
        <div class="navbar">
            <a href="https://generalassemb.ly/"target="_blank">Contact Us</a>
            <a href="gilsonscott@johndeere.com">Report Issues</a>
        </div>  
    </body>
    
</html>