<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Player Profile</title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <div class="topnav">
      <a class="active" href="#home">Show A Player</a>
      <div class="topnav-right">
        <a href="gilsonscott@johndeere.com">Report Issues</a>
        <a href="https://generalassemb.ly/"target="_blank">Contact Us</a>
        <a href="#search">Search</a>
        <a href="/auth/logoff">Log Off</a>
      </div>
    </div>
    <body>
      <br>
      <br></br>
      
      <br>
        <!-- <h1>Show Your Player</h1> -->
    <form action="/players/<%=player.id%>?_method=PUT" method="POST">
		<strong>Name:</strong> <input type="text" name="name" value="<%=player.name%>"/><br/>
    <br>
    <input type="submit" name="" value="Submit Changes"/>&nbsp;&nbsp;<input type="button" value="Go back" onclick="history.back()">
    
  </form>
    
<br>
  </br>

</body>
</html>