<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Player Profile</title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <h1>Show Your Player</h1>
    <form action="/players/<%=player.id%>?_method=PUT" method="POST">
		<strong>Name:</strong> <input type="text" name="name" value="<%=player.name%>"/><br/>
    <input type="submit" name="" value="Submit Changes"/>
    </form>

    
</body>
</html>