<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <title></title> -->
        <title>Edit Players Profile</title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <div class="topnav">
            <div class="topnav-right">
              <a href="/auth/logoff">Log Off</a>
            </div>
          </div>
          <br>
        <h1>Edit Your Player</h1>
        <form action="/players/<%=player.id%>?_method=PUT" method="POST">
		<!--  NOTE: the form is pre-populated with values for the server-->
		<strong>Name:</strong> <input type="text" name="name" value="<%=player.name%>"/><br/>
        <br></br>
        <input type="submit" name="" value="Submit Changes"/> <input type="button" value="Go back" onclick="history.back()">
        <br></br>
        <form>
            <input type="button" onclick="window.location.href='/players';" value="Players Index" />
          </form>
        </form>

    </body>
</html>