body {
    display: grid;
    /* place-items: center; */
    color: blue;
}
p {
    color: black;
}
h1 {
   color: Black;
   text-align: center; 
}
a {
    text-decoration: none; 
    font-size: 20px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: #4CAF50;
  color: white;
  }
  /* search box */
  .topnav-right input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  /* Right-aligned section inside the top navigation */
  .topnav-right {
  float: right;
  }
  img {
    /* padding: auto; */
    width: 63%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 99%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  /* display buttons to have color */
input[type=button]
{
  background-color: whitesmoke;
  box-shadow: 5px 3px #888888; 
}
input[type=button]:hover
{
  background-color: lightblue;
}
input[type=submit]
{
  background-color: whitesmoke;
  box-shadow: 5px 3px #888888; 
}
input[type=submit]:hover
{
  background-color: lightblue;
}
/* added id in html for creating a new player to have a larger button */
#new{
    width: 10em;  height: 2em;
    font-size: 17px;
  }
h2 {
    color: Black;
    text-align: left; 
 }
 /* Container holding the image and the text */
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: white;
    color: black;
    padding-left: 0px;
    padding-right: 40px;
  }
  ol {
    columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
  }