<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .footer {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color: white;
         color: white;
         text-align: center;
      }  
      </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hockeys Homepage</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#home">Hockey Homepage</a>
      <div class="topnav-right">
        <a href="https://generalassemb.ly/"target="_blank">Contact Us</a>
        <a href="https://generalassemb.ly/">Report Issues</a>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/login">Log In</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <!-- <h1>Hockey Homepage</h1> -->
    <!-- <header class="main-header" role="banner">
      <img src="https://nationalpostcom.files.wordpress.com/2019/11/don-cherry-1-4.png" alt="Banner Image"/>
    </header> -->
    <div class="container">
      <img src="https://nationalpostcom.files.wordpress.com/2019/11/don-cherry-1-4.png" alt="Banner Image"/>
      <div class="text-block">
        <h4>©2020, All rights reserved.</h4>

    </div>
  </div>
    <!-- <nav>
      <a href="/auth/signup">Sign Up</a>
      <br>
      <br>
      <a href="/auth/login">Log In</a>
      <br>
      <br>
      <a href="/auth/logout">Log Out</a>
      <br>
      <br>
    </nav> -->


  </body>
</html>
