<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .footer {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color: white;
         color: white;
         text-align: center;
      }  
      </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hockeys Homepage</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <h1>Welcome To Hockey Info</h1>
    <header class="main-header" role="banner">
      <img src="https://nationalpostcom.files.wordpress.com/2019/11/don-cherry-1-4.png" alt="Banner Image"/>
    </header>
    <div class="topnav">
      <div class="topnav-right">
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/login">Log In</a>
      </div>
    </div>
    <!-- <nav>
      <a href="/auth/signup">Sign Up</a>
      <br>
      <br>
      <a href="/auth/login">Log In</a>
      <br>
      <br>
      <a href="/auth/logout">Log Out</a>
      <br>
      <br>
    </nav> -->
    <div class="footer">
      <p>Copyright 2020</p>
      <p><a href="mailto:gilsonscott@johndeere.com">Contact Us</a></p>
  
    </div>
  </body>
</html>
