<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Log In</title>
    <link rel="stylesheet" href="/app.css" />
  </head>
  <style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: white;
       color: white;
       text-align: center;
    }  
    </style>
  <body>
    <div class="topnav">
      <a class="active" href="#login">Log In</a>
      <div class="topnav-right">
        <a href="https://generalassemb.ly/"target="_blank">Contact Us</a>
        <a href="gilsonscott@johndeere.com">Report Issues</a>

      </div>
    </div>
    <br>
    <br>
    <br>
    <!-- <h1>Login</h1> -->

    <form action="/auth/login" method="POST">
      Username: <input type="text" name="username" /> <br />
      <br />
      Password: <input type="text" name="password" /><br />
      <br />
      <input type="submit" value="Login" />
    </form>


  </body>
</html>
